<h1>Listagem de Naturezas</h1>
<div class="row">
    <div class="col-md-12">
        <button ui-sref="natureza" class="btn btn-default">Novo</button>
        <table class="table table-hover">
            <tr>
                <td>Pagamento</td>
                <td>Transferencia</td>
                <td>Opcões</td>
            </tr>
            <tr ng-repeat="natureza in dados">
                <td>{{natureza.pagamento}}</td>
                <td>{{natureza.transferencia}}</td>
                <td>
                    <button ui-sref="naturezaeditar({id: natureza.codigo})" class="btn btn-info">Editar</button>
                    <button ng-click="remover(natureza.codigo)" class="btn btn-danger">Remover</button>
                </td>
            </tr>
        </table>
    </div>
</div>