<h1>Listagem de Movimento dos Caixas</h1>
<div class="row">
    <div class="col-md-12">
        <button ui-sref="movimentoCaixa" class="btn btn-default">Novo</button>
        <table class="table table-hover">
            <tr>
                <td>Quando</td>
                <td>Valor</td>
                <td>Caixa</td>
                <td>Outro</td>
                <td>Pagamento</td>
                <td>Realizado</td>
                <td>Historico</td>
                <td>Natureza</td>
                <td>Opcões</td>
            </tr>
            <tr ng-repeat="movimentoCaixa in dados">
                <td>{{movimentoCaixa.quando}}</td>
                <td>{{movimentoCaixa.valor}}</td>
                <td>{{movimentoCaixa.caixa}}</td>
                <td>{{movimentoCaixa.outro}}</td>
                <td>{{movimentoCaixa.pagamento}}</td>
                <td>{{movimentoCaixa.realizado}}</td>
                <td>{{movimentoCaixa.historico}}</td>
                <td>{{movimentoCaixa.natureza}}</td>
                
                <td>
                    <button ui-sref="movimentoCaixaeditar({id: movimentoCaixa.codigo})" class="btn btn-info">Editar</button>
                    <button ng-click="remover(movimentoCaixa.codigo)" class="btn btn-danger">Remover</button>
                </td>
            </tr>
        </table>
    </div>
</div>