<h1>Listagem de Titulos</h1>
<div class="row">
    <div class="col-md-12">
        <button ui-sref="titulo" class="btn btn-default">Novo</button>
        <table class="table table-hover">
            <tr>
                <td>Data de Vencimento</td>
                <td>Pessoa</td>
                <td>Valor</td>
                <td>Tipo</td>
                <td>Categoria</td>
                <td>Opcões</td>
            </tr>
            <tr ng-repeat="titulo in dados">
                <td>{{titulo.dataVencimento}}</td>
                <td>{{titulo.pessoa}}</td>
                <td>{{titulo.valor}}</td>
                <td>{{titulo.tipo}}</td>
                <td>{{titulo.categoria}}</td>
                
                <td>
                    <button ui-sref="tituloeditar({id: titulo.codigo})" class="btn btn-info">Editar</button>
                    <button ng-click="remover(titulo.codigo)" class="btn btn-danger">Remover</button>
                </td>
            </tr>
        </table>
    </div>
</div>