<h1 align="center">Cadastro de Pessoa Juridica</h1>
<div class="col-md-6">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row container-fluid">
                <form name="JuridicaForm">
                    <label>Nome:</label>
                    <input required type="text" class="form-control" ng-model="entidade.nome"/>
                    <label>Email:</label>
                    <input required type="text" class="form-control" ng-model="entidade.email"/>
                    <label>CNPJ:</label>
                    <input required type="text" class="form-control" ng-model="entidade.cnpj"/>
                    <label>Pessoa Juridica:</label>
                    <input required type="text" class="form-control" ng-model="entidade.nome"/>
                    <p ng-show="!entidade.nome" class="text text-danger">Digite um nome</p>
                    <input required type="text" class="form-control" ng-model="entidade.email"/>
                    <p ng-show="!entidade.email" class="text text-danger">Digite um email</p>
                    <input required type="text" class="form-control" ng-model="entidade.cnpj"/>
                    <p ng-show="!entidade.cnpj" class="text text-danger">Digite um cnpj</p>
                </form>
            </div>
        </div>
    </div>
    <button ng-disabled="JuridicaForm.$invalid" ng-click="salvar(entidade)" type="button" class="btn btn-primary pull-right">Salvar</button>
</div>
